body {
    width: 100%;
  
    font-family: 'Cabin', sans-serif;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #02042a;
    color: white;
    padding: 10px 20px;
    font-size: 22px;
}

/* Style the logo */
.navbar-logo img {
    height: 50px;
}

/* Style the links in the center */
.navbar-links ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-links a {
    text-decoration: none;
    color: white;
    position: relative;
}

/* Add underline on hover */
.navbar-links a:hover::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: white;
}


/* Style the login and signup buttons on the right */
.navbar-auth a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border: 2px solid white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin-left: 10px;
}

/* Change background and text color on click */
.navbar-auth  a:hover,
.navbar-auth  a:active {
    background-color: white;
    color: #02042a;

}


/* Style the form container */
form {
    max-width: 400px;
    height: 80vh;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    overflow-y: scroll;
}

/* Style the form heading */
h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Style form labels */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Style text inputs */
input[type="text"],
input[type="number"]
 {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

input[type="number"] {
    width: 25%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

textarea {
    width: 98%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}
/* Style the file input */
input[type="file"] {
    width: 98%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f9f9f9;
}

/* Style the submit button */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    margin-left: 38%;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}


/* Style the form container */
form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #a0a4f2;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

/* Style the form heading */
h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

/* Style form labels */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Style text inputs */
input[type="text"],
input[type="number"]
 {
    width: 70%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

input[type="number"] {
    width: 25%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

textarea {
    width: 98%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}
/* Style the file input */
input[type="file"] {
    width: 98%;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f9f9f9;
}

/* Style the submit button */
input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    margin-left: 38%;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #02042a;
}

